*.iml
*.DS_Store
.history
.idea/
*/.idea/
*/*/.idea/
target/
*/target/
*/*/target/
logs/
*/logs/
*/*/logs/
.git/
*/.git/
*/*/.git/
package-lock.json
yarn.lock
/node_modules/
/dist/
src/page/node_modules/
src/page/industry/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
