*.iml
*.DS_Store
.history
.idea/
*/.idea/
*/*/.idea/
target/
*/target/
*/*/target/
logs/
*/logs/
*/*/logs/
.git/
*/.git/
*/*/.git/
*/*/package-lock.json
*/*/yarn.lock
/node_modules/
*/*/node_modules/
/dist/
*/dist/
*/*/dist/
