.fz12 {
    font-size: 12px;
}

.fz13 {
    font-size: 13px;
}

.fz15 {
    font-size: 15px;
}

.fz16 {
    font-size: 16px;
}

.fz17 {
    font-size: 17px;
}

.fz18 {
    font-size: 18px;
}

.fz19 {
    font-size: 19px;
}

.fz20 {
    font-size: 20px;
}

.fw500 {
    font-weight: 500;
}

.cA5ACC5 {
    color: #A5ACC5;
}

.bgcF3F5FA {
    background-color: #F3F5FA;
}

.wp100 {
    width: 100%;
}

.hp100 {
    height: 100%;
}

.minHp100 {
    min-height: 100%;
}

.h195 {
    height: 195px;
}

.w15 {
    width: 15px;
}

.w100 {
    width: 100px;
}

.h15 {
    height: 15px;
}

.h35 {
    height: 35px;
}

.h75 {
    height: 75px;
}

.pt1 {
    padding-top: 1px;
}

.pt2 {
    padding-top: 2px;
}

.pt3 {
    padding-top: 3px;
}

.pt4 {
    padding-top: 4px;
}

.pt5 {
    padding-top: 5px;
}

.pt6 {
    padding-top: 6px;
}

.pt7 {
    padding-top: 7px;
}

.pt8 {
    padding-top: 8px;
}

.pt9 {
    padding-top: 9px;
}

.pt10 {
    padding-top: 10px;
}

.pt11 {
    padding-top: 11px;
}

.pt12 {
    padding-top: 12px;
}

.pt13 {
    padding-top: 13px;
}

.pt14 {
    padding-top: 14px;
}

.pt15 {
    padding-top: 15px;
}

.pl12 {
    padding-left: 12px;
}

.pl15 {
    padding-left: 15px;
}

.pr12 {
    padding-right: 12px;
}

.pr15 {
    padding-right: 15px;
}

.pb10 {
    padding-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}

.ml7 {
    margin-left: 7px;
}

.mr15 {
    margin-right: 15px;
}

.bgcwhite {
    background-color: #fff;
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.flex5 {
    flex: 5;
}

.flex6 {
    flex: 6;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.left0 {
    left: 0;
}

.bottom11 {
    bottom: 11px;
}

.border-box {
    box-sizing: border-box;
}

.br2 {
    border-radius: 2px;
}

.br3 {
    border-radius: 3px;
}

.br4 {
    border-radius: 4px;
}

.br5 {
    border-radius: 5px;
}

.br6 {
    border-radius: 6px;
}

.br7 {
    border-radius: 7px;
}

.br8 {
    border-radius: 8px;
}

.br9 {
    border-radius: 9px;
}

.br10 {
    border-radius: 10px;
}

.overflow-hidden {
    overflow: hidden;
}